body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid red; /* Red border for all tables */
}
th, td {
    border: 2px solid red; /* Red border for table cells */
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
.notification {
    padding: 10px;
    background-color: #e7f3fe;
    color: #31708f;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 5px;
}

button {
    background-color: #ff0000; /* Button color */
    color: black;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3; /* Darker button on hover */
}

/*styles for hamburger menu*/
.menu {
    cursor: pointer;
    font-size: 30px;
    display: inline-block;
}
.logout-button {
    display: none; /* Initially hidden */
    margin-top: 10px;
}
